<h1>Stupid Coaching</h1>
<br>
<div class="lay-out">
<%= @question %>
<br>
<%= "--You" %>
</div>
<br>
<div class="lay-out">
<%= @output %>
<br>
<%= "--Your coach" %>
</div>
<br>
<div class="link">
<%= link_to "Ask another question", "/ask" %>
</div>
